In [1]:

# import necessary library
from IPython.core.interactiveshell import InteractiveShell
InteractiveShell.ast_node_interactivity = "all"

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
pd.set_option('display.max_columns', None)

In [3]:
df = pd.read_csv('../Data/users_experiment.csv')
df.shape

/tmp/ipykernel_131133/2877661241.py:1: DtypeWarning: Columns (1,4,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('../Data/users_experiment.csv')

(109138, 21)

In [7]:
df.head()

,id,username,password,user_alias,hash_change_password,user_role_id,is_admin,active,user_status,is_email_verified,email_verify_code,verification_date,ssn,force_password_change,last_password_change,created,modified,created_by,modified_by,photo,employee_record_id
0,1,superman,$2y$10$DgTkdt8bX1gNJOeO1PHzO.33k0tuLB7GuootzYv...,superman,NaN,1,0,1,registered,1.0,123,0000-00-00,123.0,1.0,2020-10-14 10:58:48,0000-00-00 00:00:00,2020-10-14 10:58:48,NaN,NaN,NaN,NaN
1,2,admin,$2y$10$vMlROpUDbCf8gdrBqGfpROUiT5Im97l9y1XOngB...,admin,NaN,2,0,1,NaN,0.0,NaN,0000-00-00,NaN,1.0,0000-00-00 00:00:00,0000-00-00 00:00:00,2018-04-19 10:30:42,NaN,NaN,NaN,NaN
2,48,200000000002,$2y$10$vMlROpUDbCf8gdrBqGfpROUiT5Im97l9y1XOngB...,200000000002,NaN,3,0,1,registered,1.0,123,0000-00-00,123.0,0.0,2016-02-06 13:19:58,0000-00-00 00:00:00,2016-02-06 13:19:58,NaN,NaN,NaN,30.0
3,49,200000000003,$2y$10$M14gp5AH90r4tz06nhkml.eggt8pcpx1Um3FNC9...,Raziul,NaN,3,0,1,registered,1.0,123,0000-00-00,123.0,0.0,2016-02-11 10:09:21,0000-00-00 00:00:00,2016-10-25 12:59:33,NaN,NaN,NaN,31.0
4,52,200000000004,$2y$10$vMlROpUDbCf8gdrBqGfpROUiT5Im97l9y1XOngB...,200000000004,NaN,3,0,1,registered,1.0,123,0000-00-00,123.0,0.0,2016-02-06 13:19:58,0000-00-00 00:00:00,2016-11-27 16:35:01,NaN,NaN,NaN,34.0

In [13]:
# df.username.nunique()
# df.user_alias.nunique()
df.is_admin.unique()

array([0, 1])